# Exercicio 04

In [2]:
# Importar biblioteca pyodbc:
import pyodbc

In [8]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')
        
# Pegar uma conexão com o banco de dados:
bd = ConexaoBD ()
conexao = bd.conectar ()

In [14]:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def criar (self):
        ddl = '''
            IF NOT EXISTS ( SELECT * FROM sys.tables WHERE name='Categoria' )
            CREATE TABLE Categoria (
                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento.
                nome varchar (32),
                descricao text
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

    def lerTudo (self):
        with self.conexao:
            cursor = self.conexao.cursor ()
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def criar (self):
        ddl = '''
            IF NOT EXISTS ( SELECT * FROM sys.tables WHERE name='Vendedor' )
            CREATE TABLE Vendedor (
                cpf varchar (14) primary key,
                nome varchar (128),
                email varchar (128),
                telefone varchar (20),
                endereco varchar (256)
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

    def lerTudo (self):
        with self.conexao:
            cursor = self.conexao.cursor ()
            # self.conexao.commit ()
            sql = "select * from Vendedor;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def criar (self):
        ddl = '''
            IF NOT EXISTS ( SELECT * FROM sys.tables WHERE name='Produto' )
            CREATE TABLE Produto (
                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento dos valores gerados para a primary key.
                nome varchar (128),
                descricao text,
                marca varchar (32),
                id_categoria int foreign key references Categoria (id)
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

    def lerTudo (self):
        with self.conexao:
            cursor = self.conexao.cursor ()
            # self.conexao.commit ()
            sql = "select * from Produto;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def criar (self):
        ddl = '''
            IF NOT EXISTS ( SELECT * FROM sys.tables WHERE name='VendedorProduto' )
            CREATE TABLE VendedorProduto (
                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento dos valores gerados para a primary key.
                cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
                id_produto int foreign key references Produto (id),
                quantidade int,
                preco decimal
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

    def lerTudo (self):
        with self.conexao:
            cursor = self.conexao.cursor ()
            # self.conexao.commit ()
            sql = "select * from VendedorProduto;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

categoria = Categoria (conexao)
vendedor = Vendedor (conexao)
produto = Produto (conexao)
vendedorProduto = VendedorProduto (conexao)

# categoria.criar ()
# vendedor.criar()
# produto.criar ()
# vendedorProduto.criar ()

print(categoria.lerTudo())

[(1, &#39;celulares&#39;, &#39;telefones celulares&#39;), (2, &#39;Roupas&#39;, &#39;Roupas para todas as idades&#39;), (3, &#39;livros&#39;, &#39;livros impressos&#39;), (4, &#39;eletroeletrônicos&#39;, &#39;dispositivos eletroeletrônicos&#39;), (5, &#39;alimentos&#39;, &#39;alimentos não perecíveis&#39;), (7, &#39;eletrodomesticos&#39;, &#39;produtos eletrodomesticos&#39;), (8, &#39;moveis&#39;, &#39;moveis para casa&#39;), (9, &#39;imoveis&#39;, &#39;casas, apartamentos e predios&#39;), (10, &#39;cozinha&#39;, &#39;utensílios de cozinha&#39;), (11, &#39;Telefonia&#39;, &#39;Aparelho telefônico&#39;), (12, &#39;Informática&#39;, &#39;Computador portátil&#39;), (13, &#39;Roupa&#39;, &#39;Vestuário&#39;), (14, &#39;Calçado&#39;, &#39;Vestuário&#39;), (15, &#39;celulares&#39;, &#39;telefones celulares&#39;), (16, &#39;Animais&#39;, &#39;Animais de estimação&#39;)]

In [11]:
print(vendedor.lerTudo())

[(&#39;111.111.111-11&#39;, &#39;Ana&#39;, &#39;ana@ana.com.br&#39;, &#39;(11) 1 1111-1111&#39;, &#39;Rua n.1, n. 1, Bairro 1, Cidade 1, MG&#39;), (&#39;222.222.222-22&#39;, &#39;Bruno&#39;, &#39;bruno@bruno.com.br&#39;, &#39;(22) 2 2222-2222&#39;, &#39;Rua n.2, n. 2, Bairro 2, Cidade 2, MG&#39;), (&#39;333.333.333-33&#39;, &#39;Carla&#39;, &#39;carla@carla.com.br&#39;, &#39;(33) 3 3333-3333&#39;, &#39;Rua n.3, n. 3, Bairro 3, Cidade 3, MG&#39;), (&#39;444.444.444-44&#39;, &#39;Diego&#39;, &#39;diego@diego.com.br&#39;, &#39;(44) 4 4444-4444&#39;, &#39;Rua n.4, n. 4, Bairro 4, Cidade 4, MG&#39;), (&#39;555.555.555-55&#39;, &#39;Elis&#39;, &#39;elis@elis.com.br&#39;, &#39;(55) 5 5555-5555&#39;, &#39;Rua n.5, n. 5, Bairro 5, Cidade 5, MG&#39;), (&#39;666.666.666-66&#39;, &#39;Fábio&#39;, &#39;fabio@fabio.com.br&#39;, &#39;(66) 6 6666-6666&#39;, &#39;Rua n.6, n. 6, Bairro 6, Cidade 6, MG&#39;), (&#39;777.777.777-77&#39;, &#39;Gisele&#39;, &#39;gisele@gisele.com.br&#39;, &#39;(77) 7 7777-7777&#39;, &#39;Rua n.7, n. 7, Bairro 7, Cidade 7, MG&#39;), (&#39;888.888.888-88&#39;, &#39;Heitor&#39;, &#39;heitor@heitor.com.br&#39;, &#39;(88) 8 8888-8888&#39;, &#39;Rua n.8, n. 8, Bairro 8, Cidade 8, MG&#39;), (&#39;999.999.999-99&#39;, &#39;Iris&#39;, &#39;iris@iris.com.br&#39;, &#39;(99) 9 9999-9999&#39;, &#39;Rua n.9, n. 9, Bairro 9, Cidade 9, MG&#39;)]

In [12]:
print(produto.lerTudo())

[(1, &#39;Celular&#39;, &#39;Celular 1&#39;, &#39;Apple&#39;, 1), (2, &#39;Celular&#39;, &#39;Celular 2&#39;, &#39;Samsung&#39;, 1), (3, &#39;Celular&#39;, &#39;Celular 3&#39;, &#39;Xiaomi&#39;, 1), (4, &#39;Notebook&#39;, &#39;Notebook 1&#39;, &#39;Apple&#39;, 2), (5, &#39;Notebook&#39;, &#39;Notebook 2&#39;, &#39;Samsung&#39;, 2), (6, &#39;Notebook&#39;, &#39;Notebook 3&#39;, &#39;Xiaomi&#39;, 2), (7, &#39;Camisa&#39;, &#39;Camisa 1&#39;, &#39;Nike&#39;, 3), (8, &#39;Calça&#39;, &#39;Calça 1&#39;, &#39;Nike&#39;, 3), (9, &#39;Tênis&#39;, &#39;Tênis 1&#39;, &#39;Nike&#39;, 4), (10, &#39;Camisa&#39;, &#39;Camisa 2&#39;, &#39;Adidas&#39;, 3), (11, &#39;Calça&#39;, &#39;Calça 2&#39;, &#39;Adidas&#39;, 3), (12, &#39;Tênis&#39;, &#39;Tênis 2&#39;, &#39;Adidas&#39;, 4), (13, &#39;Camisa&#39;, &#39;Camisa 3&#39;, &#39;Zara&#39;, 3), (14, &#39;Calça&#39;, &#39;Calça 3&#39;, &#39;Zara&#39;, 3), (15, &#39;Tênis&#39;, &#39;Tênis 3&#39;, &#39;Zara&#39;, 4)]

In [13]:
print(vendedorProduto.lerTudo())

[(1, &#39;111.111.111-11&#39;, 1, 2, Decimal(&#39;4000&#39;)), (2, &#39;111.111.111-11&#39;, 2, 3, Decimal(&#39;3000&#39;)), (3, &#39;111.111.111-11&#39;, 3, 4, Decimal(&#39;1000&#39;)), (4, &#39;111.111.111-11&#39;, 12, 2, Decimal(&#39;110&#39;)), (5, &#39;222.222.222-22&#39;, 4, 3, Decimal(&#39;5000&#39;)), (6, &#39;222.222.222-22&#39;, 5, 5, Decimal(&#39;4000&#39;)), (7, &#39;222.222.222-22&#39;, 6, 6, Decimal(&#39;3000&#39;)), (8, &#39;333.333.333-33&#39;, 7, 10, Decimal(&#39;50&#39;)), (9, &#39;333.333.333-33&#39;, 14, 2, Decimal(&#39;88&#39;)), (10, &#39;555.555.555-55&#39;, 7, 10, Decimal(&#39;45&#39;)), (11, &#39;666.666.666-66&#39;, 9, 3, Decimal(&#39;120&#39;)), (12, &#39;666.666.666-66&#39;, 14, 8, Decimal(&#39;78&#39;)), (13, &#39;888.888.888-88&#39;, 10, 0, Decimal(&#39;40&#39;)), (14, &#39;999.999.999-99&#39;, 11, 0, Decimal(&#39;87&#39;)), (15, &#39;999.999.999-99&#39;, 1, 1, Decimal(&#39;5000&#39;))]