# Inserir na Tabela Categoria

In [8]:
# Importar biblioteca pyodbc:
import pyodbc

In [9]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')

In [16]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()
# Pegar uma conexão com o banco de dados:
conexao = bd.conectar ()

In [17]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values ('celulares', 'telefones celulares');"
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchone ()
            return linha

In [7]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

(1, 'celulares', 'telefones celulares')

In [6]:
# Classe Categoria:
class Categoria:
 def __init__ (self, conexao):
    self.conexao = conexao
    
 def inserir (self):
    dml = "insert into Categoria (nome, descricao) values (?, ?);"
    nome = input ("Informe o nome da categoria: ")
    descricao = input ("Informe a descrição da categoria: ")
    parametros = tuple ((nome, descricao))
    with self.conexao:
        cursor = self.conexao.cursor ()
        cursor.execute (dml, parametros)
        # self.conexao.commit ()
        sql = "select * from Categoria;"
        cursor.execute (sql)
        linha = cursor.fetchall ()
        return linha

In [5]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

(1, &#39;celulares&#39;, &#39;telefones celulares&#39;)

In [13]:
 # Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        parametros = [
            ('livros', 'livros impressos'),
            ('eletroeletrônicos', 'dispositivos eletroeletrônicos'),
            ('alimentos', 'alimentos não perecíveis')
        ]
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.executemany (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [7]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

[(1, &#39;celulares&#39;, &#39;telefones celulares&#39;), (2, &#39;Roupas&#39;, &#39;Roupas para todas as idades&#39;), (3, &#39;livros&#39;, &#39;livros impressos&#39;), (4, &#39;eletroeletrônicos&#39;, &#39;dispositivos eletroeletrônicos&#39;), (5, &#39;alimentos&#39;, &#39;alimentos não perecíveis&#39;), (6, &#39;livros&#39;, &#39;livros impressos&#39;), (7, &#39;eletrodomesticos&#39;, &#39;produtos eletrodomesticos&#39;), (8, &#39;moveis&#39;, &#39;moveis para casa&#39;), (9, &#39;imoveis&#39;, &#39;casas, apartamentos e predios&#39;), (10, &#39;cozinha&#39;, &#39;utensílios de cozinha&#39;), (11, &#39;Telefonia&#39;, &#39;Aparelho telefônico&#39;), (12, &#39;Informática&#39;, &#39;Computador portátil&#39;), (13, &#39;Roupa&#39;, &#39;Vestuário&#39;), (14, &#39;Calçado&#39;, &#39;Vestuário&#39;), (15, &#39;celulares&#39;, &#39;telefones celulares&#39;), (16, &#39;Animais&#39;, &#39;Animais de estimação&#39;)]

In [15]:
 # Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def valores (self):
        parametros = []
        while True:
            nome = input ("Informe o nome da categoria: ") 
            descricao = input ("Informe a descrição da categoria: ")
            parametros.append ((nome, descricao))
            print (parametros)
            resp = input ("Deseja informar outro registro? (s/n)")
            if (resp == "n"):
                break
        return parametros
        
    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        parametros = self.valores ()
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.executemany (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [16]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

[('livros', 'livros impressos')]
[('livros', 'livros impressos'), ('eletrodomesticos', 'produtos eletrodomesticos')]
[('livros', 'livros impressos'), ('eletrodomesticos', 'produtos eletrodomesticos'), ('moveis', 'moveis para casa')]
[('livros', 'livros impressos'), ('eletrodomesticos', 'produtos eletrodomesticos'), ('moveis', 'moveis para casa'), ('imoveis', 'casas, apartamentos e predios')]
[(1, 'celulares', 'telefones celulares'), (2, 'Roupas', 'Roupas para todas as idades'), (3, 'livros', 'livros impressos'), (4, 'eletroeletrônicos', 'dispositivos eletroeletrônicos'), (5, 'alimentos', 'alimentos não perecíveis'), (6, 'livros', 'livros impressos'), (7, 'eletrodomesticos', 'produtos eletrodomesticos'), (8, 'moveis', 'moveis para casa'), (9, 'imoveis', 'casas, apartamentos e predios')]

In [17]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values ('cozinha', 'utensílios de cozinha');"

        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
            # self.conexao.commit ()
            sql = "select cast (scope_identity () as int);"
            cursor.execute (sql)
            id = cursor.fetchone ()[0]

            return id

In [18]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

10