# SQL

In [1]:
# Importar biblioteca pyodbc:
import pyodbc

In [2]:
# Importar a biblioteca Pandas:
import pandas as pd

In [3]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database ='empresa', trusted_connection = 'yes')

In [4]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()

# Pegar uma conexão com o banco de dados:
conexao = bd.conectar ()

In [6]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Categoria (nome, descricao) values
                ('Telefonia', 'Aparelho telefônico'),
                ('Informática', 'Computador portátil'),
                ('Roupa', 'Vestuário'),
                ('Calçado', 'Vestuário');
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Categoria:
categoria = Categoria (conexao)

# Inserir um registro no banco de dados:
# categoria.inserir ()

In [11]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Vendedor (cpf, nome, email, telefone, endereco) values 
('111.111.111-11', 'Ana', 'ana@ana.com.br', '(11) 1 1111-1111', 'Rua n.1, n. 1, Bairro 1, Cidade 1, MG'), ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'), ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'), 
('444.444.444-44', 'Diego', 'diego@diego.com.br', '(44) 4 4444-4444', 'Rua n.4, n. 4, Bairro 4, Cidade 4, MG'), 
('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'), 
('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'), ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'), ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'), ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG');
'''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)

# Inserir um registro no banco de dados:
vendedor.inserir ()

In [12]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Produto (nome, descricao, marca, id_categoria) values
                ('Celular', 'Celular 1', 'Apple', 1),
                ('Celular', 'Celular 2', 'Samsung', 1),
                ('Celular', 'Celular 3', 'Xiaomi', 1),
                ('Notebook', 'Notebook 1', 'Apple', 2),
                ('Notebook', 'Notebook 2', 'Samsung', 2),
                ('Notebook', 'Notebook 3', 'Xiaomi', 2),
                ('Camisa', 'Camisa 1', 'Nike', 3),
                ('Calça', 'Calça 1', 'Nike', 3),
                ('Tênis', 'Tênis 1', 'Nike', 4),
                ('Camisa', 'Camisa 2', 'Adidas', 3),
                ('Calça', 'Calça 2', 'Adidas', 3),
                ('Tênis', 'Tênis 2', 'Adidas', 4),
                ('Camisa', 'Camisa 3', 'Zara', 3),
                ('Calça', 'Calça 3', 'Zara', 3),
                ('Tênis', 'Tênis 3', 'Zara', 4);
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)

# Inserir um registro no banco de dados:
produto.inserir ()

In [13]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into VendedorProduto (cpf_vendedor, id_produto, quantidade, preco) values
                ('111.111.111-11', 1, 2, 4000),
                ('111.111.111-11', 2, 3, 3000),
                ('111.111.111-11', 3, 4, 1000),
                ('111.111.111-11', 12, 2, 110),
                ('222.222.222-22', 4, 3, 5000),
                ('222.222.222-22', 5, 5, 4000),
                ('222.222.222-22', 6, 6, 3000),
                ('333.333.333-33', 7, 10, 50),
                ('333.333.333-33', 14, 2, 88),
                ('555.555.555-55', 7, 10, 45),
                ('666.666.666-66', 9, 3, 120),
                ('666.666.666-66', 14, 8, 78),
                ('888.888.888-88', 10, 0, 40),
                ('999.999.999-99', 11, 0, 87),
                ('999.999.999-99', 1, 1, 5000);
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)

# Inserir um registro no banco de dados:
vendedor_produto.inserir ()

In [5]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
                  from Vendedor v
              '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (sql)
            for linha in cursor:
                print (linha)

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)

# Ler os registros do banco de dados:
vendedor.buscar ()

(&#39;111.111.111-11&#39;, &#39;Amara&#39;, &#39;amara@oremos.com&#39;)
(&#39;222.222.222-22&#39;, &#39;Bruno&#39;, &#39;bruno@bruno.com.br&#39;)
(&#39;333.333.333-33&#39;, &#39;Carla&#39;, &#39;carla@carla.com.br&#39;)
(&#39;555.555.555-55&#39;, &#39;Elis&#39;, &#39;elis@elis.com.br&#39;)
(&#39;666.666.666-66&#39;, &#39;Fábio&#39;, &#39;fabio@fabio.com.br&#39;)
(&#39;777.777.777-77&#39;, &#39;Gisele&#39;, &#39;gisele@gisele.com.br&#39;)
(&#39;888.888.888-88&#39;, &#39;Heitor&#39;, &#39;heitor@heitor.com.br&#39;)
(&#39;999.999.999-99&#39;, &#39;Iris&#39;, &#39;iris@iris.com.br&#39;)

In [9]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail' 
                  from Vendedor v 
              '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)

# Ler os registros do banco de dados:
vendedor.buscarPandas ()

              CPF Vendedor                E-mail
0  111.111.111-11    Amara      amara@oremos.com
1  222.222.222-22    Bruno    bruno@bruno.com.br
2  333.333.333-33    Carla    carla@carla.com.br
3  555.555.555-55     Elis      elis@elis.com.br
4  666.666.666-66    Fábio    fabio@fabio.com.br
5  777.777.777-77   Gisele  gisele@gisele.com.br
6  888.888.888-88   Heitor  heitor@heitor.com.br
7  999.999.999-99     Iris      iris@iris.com.br
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [12]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def pesquisarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor,
 p.nome as Produto, p.marca as Marca,
 c.nome as Categoria,
 vp.quantidade as Qtde, vp.preco as Preço
 from Vendedor v, VendedorProduto vp, Produto p, Categoria c
 where v.cpf = vp.cpf_vendedor and
 vp.id = p.id and
 p.id_categoria = c.id;
 '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)

# Ler os registros do banco de dados:
vendedor.pesquisarPandas ()

               CPF Vendedor     Produto     Marca          Categoria  Qtde  \
0   222.222.222-22    Bruno  Smartphone  Motorola          celulares     5
1   111.111.111-11    Amara     Celular   Samsung          celulares     3
2   111.111.111-11    Amara     Celular    Xiaomi          celulares     4
3   111.111.111-11    Amara    Notebook     Apple  Eletroeletrônicos     2
4   222.222.222-22    Bruno    Notebook   Samsung  Eletroeletrônicos     3
5   222.222.222-22    Bruno    Notebook    Xiaomi  Eletroeletrônicos     5
6   222.222.222-22    Bruno      Camisa      Nike          Vestuario     6
7   333.333.333-33    Carla       Calça      Nike          Vestuario    10
8   333.333.333-33    Carla       Tênis      Nike  eletroeletrônicos     2
9   555.555.555-55     Elis      Camisa    Adidas          Vestuario    10
10  666.666.666-66    Fábio       Calça    Adidas          Vestuario     3
11  666.666.666-66    Fábio       Tênis    Adidas  eletroeletrônicos     8
12  888.888.888-88   Heitor      Camisa      Zara          Vestuario     0
13  999.999.999-99     Iris       Calça      Zara          Vestuario     0

     Preço
0   2500.0
1   3000.0
2   1000.0
3    110.0
4   5000.0
5   4000.0
6   3000.0
7     50.0
8     88.0
9     45.0
10   120.0
11    78.0
12    40.0
13    87.0
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [6]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
                 from Vendedor v 
                 where v.nome like '%rl%'; 
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

              CPF Vendedor
0  333.333.333-33    Carla
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [9]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, p.nome as Produto, vp.preco as Preço
 from Vendedor v, VendedorProduto vp, Produto p
 where v.cpf = vp.cpf_vendedor and
 vp.id_produto = p.id and
 vp.preco between 80 and 200;
 '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

              CPF Vendedor Produto  Preço
0  111.111.111-11    Amara   Tênis  110.0
1  333.333.333-33    Carla   Calça   88.0
2  666.666.666-66    Fábio   Tênis  120.0
3  999.999.999-99     Iris   Calça   87.0
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [10]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select distinct p.nome as Produto
 from Produto p
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Inserir um registro no banco de dados:
produto.buscar ()

      Produto
0       Calça
1      Camisa
2     Celular
3    Notebook
4  Smartphone
5       Tênis
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [11]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
 from Vendedor v
 where v.cpf in (select vp.cpf_vendedor
 from VendedorProduto vp);
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

              CPF Vendedor
0  111.111.111-11    Amara
1  222.222.222-22    Bruno
2  333.333.333-33    Carla
3  555.555.555-55     Elis
4  666.666.666-66    Fábio
5  888.888.888-88   Heitor
6  999.999.999-99     Iris
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [12]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
 from Vendedor v
 where exists (select vp.cpf_vendedor
 from VendedorProduto vp
 where v.cpf = vp.cpf_vendedor);
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

              CPF Vendedor
0  111.111.111-11    Amara
1  222.222.222-22    Bruno
2  333.333.333-33    Carla
3  555.555.555-55     Elis
4  666.666.666-66    Fábio
5  888.888.888-88   Heitor
6  999.999.999-99     Iris
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [13]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
 from Vendedor v
 where v.cpf not in (select vp.cpf_vendedor
 from VendedorProduto vp);
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

              CPF Vendedor
0  777.777.777-77   Gisele
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [15]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
 from Vendedor v
 where not exists (select vp.cpf_vendedor
 from VendedorProduto vp
 where v.cpf = vp.cpf_vendedor);
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

              CPF Vendedor
0  777.777.777-77   Gisele
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [17]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select max (preco) as 'Preço Máximo'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   Preço Máximo
0        5000.0
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [19]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select min (preco) as 'Preço Máximo'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   Preço Máximo
0          40.0
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [20]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    
    def buscar (self):
        sql = ''' select avg (preco) as 'Preço Máximo'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   Preço Máximo
0   1365.571428
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [21]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select sum (preco) as 'Preço Máximo'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   Preço Máximo
0       19118.0
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [22]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select count (id) as 'Contagem'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   Contagem
0        14
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [24]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
 from Produto p, Categoria c, VendedorProduto vp
 where vp.id_produto = p.id and
 p.id_categoria = c.id
 group by p.nome, c.nome, vp.quantidade, vp.preco
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

     Produto          Categoria  Qtde   Preço
0      Calça          Vestuario     0    87.0
1      Calça          Vestuario     2    88.0
2      Calça          Vestuario     8    78.0
3     Camisa          Vestuario     0    40.0
4     Camisa          Vestuario    10    45.0
5     Camisa          Vestuario    10    50.0
6    Celular          celulares     3  3000.0
7    Celular          celulares     4  1000.0
8    Celular          celulares     5  2500.0
9   Notebook  Eletroeletrônicos     3  5000.0
10  Notebook  Eletroeletrônicos     5  4000.0
11  Notebook  Eletroeletrônicos     6  3000.0
12     Tênis  eletroeletrônicos     2   110.0
13     Tênis  eletroeletrônicos     3   120.0
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [25]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
 from Produto p, Categoria c, VendedorProduto vp
 where vp.id_produto = p.id and
 p.id_categoria = c.id
 group by p.nome, c.nome, vp.quantidade, vp.preco
 having vp.preco > 500
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

    Produto          Categoria  Qtde   Preço
0   Celular          celulares     3  3000.0
1   Celular          celulares     4  1000.0
2   Celular          celulares     5  2500.0
3  Notebook  Eletroeletrônicos     3  5000.0
4  Notebook  Eletroeletrônicos     5  4000.0
5  Notebook  Eletroeletrônicos     6  3000.0
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [26]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
 from Produto p, Categoria c, VendedorProduto vp
 where vp.id_produto = p.id and
 p.id_categoria = c.id
 group by p.nome, c.nome, vp.quantidade, vp.preco
 having vp.preco > 500
 order by c.nome asc, vp.preco desc
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

    Produto          Categoria  Qtde   Preço
0   Celular          celulares     3  3000.0
1   Celular          celulares     5  2500.0
2   Celular          celulares     4  1000.0
3  Notebook  Eletroeletrônicos     3  5000.0
4  Notebook  Eletroeletrônicos     5  4000.0
5  Notebook  Eletroeletrônicos     6  3000.0
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [27]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
 from Vendedor v
 inner join VendedorProduto vp on v.cpf = vp.cpf_vendedor
 inner join Produto p on vp.id_produto = p.id
 inner join Categoria c on p.id_categoria = c.id
 order by v.cpf;
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

               CPF Vendedor  Qtde   Preço   Produto          Categoria
0   111.111.111-11    Amara     3  3000.0   Celular          celulares
1   111.111.111-11    Amara     4  1000.0   Celular          celulares
2   111.111.111-11    Amara     2   110.0     Tênis  eletroeletrônicos
3   222.222.222-22    Bruno     3  5000.0  Notebook  Eletroeletrônicos
4   222.222.222-22    Bruno     5  4000.0  Notebook  Eletroeletrônicos
5   222.222.222-22    Bruno     6  3000.0  Notebook  Eletroeletrônicos
6   222.222.222-22    Bruno     5  2500.0   Celular          celulares
7   333.333.333-33    Carla    10    50.0    Camisa          Vestuario
8   333.333.333-33    Carla     2    88.0     Calça          Vestuario
9   555.555.555-55     Elis    10    45.0    Camisa          Vestuario
10  666.666.666-66    Fábio     3   120.0     Tênis  eletroeletrônicos
11  666.666.666-66    Fábio     8    78.0     Calça          Vestuario
12  888.888.888-88   Heitor     0    40.0    Camisa          Vestuario
13  999.999.999-99     Iris     0    87.0     Calça          Vestuario
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [28]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
 from Vendedor v
 left join VendedorProduto vp on v.cpf = vp.cpf_vendedor
 left join Produto p on vp.id_produto = p.id
 left join Categoria c on p.id_categoria = c.id
 order by v.cpf;
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

               CPF Vendedor  Qtde   Preço   Produto          Categoria
0   111.111.111-11    Amara   3.0  3000.0   Celular          celulares
1   111.111.111-11    Amara   4.0  1000.0   Celular          celulares
2   111.111.111-11    Amara   2.0   110.0     Tênis  eletroeletrônicos
3   222.222.222-22    Bruno   5.0  2500.0   Celular          celulares
4   222.222.222-22    Bruno   3.0  5000.0  Notebook  Eletroeletrônicos
5   222.222.222-22    Bruno   5.0  4000.0  Notebook  Eletroeletrônicos
6   222.222.222-22    Bruno   6.0  3000.0  Notebook  Eletroeletrônicos
7   333.333.333-33    Carla  10.0    50.0    Camisa          Vestuario
8   333.333.333-33    Carla   2.0    88.0     Calça          Vestuario
9   555.555.555-55     Elis  10.0    45.0    Camisa          Vestuario
10  666.666.666-66    Fábio   3.0   120.0     Tênis  eletroeletrônicos
11  666.666.666-66    Fábio   8.0    78.0     Calça          Vestuario
12  777.777.777-77   Gisele   NaN     NaN      None               None
13  888.888.888-88   Heitor   0.0    40.0    Camisa          Vestuario
14  999.999.999-99     Iris   0.0    87.0     Calça          Vestuario
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [29]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
 from Vendedor v
 right join VendedorProduto vp on v.cpf = vp.cpf_vendedor
 right join Produto p on vp.id_produto = p.id
 right join Categoria c on p.id_categoria = c.id
 order by v.cpf;
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

               CPF Vendedor  Qtde   Preço     Produto          Categoria
0             None     None   NaN     NaN  Smartphone          celulares
1             None     None   NaN     NaN       Calça          Vestuario
2             None     None   NaN     NaN        None          alimentos
3             None     None   NaN     NaN        None   eletrodomesticos
4             None     None   NaN     NaN        None             moveis
5             None     None   NaN     NaN        None            imoveis
6             None     None   NaN     NaN        None            cozinha
7             None     None   NaN     NaN        None          Telefonia
8             None     None   NaN     NaN        None        Informática
9             None     None   NaN     NaN        None              Roupa
10            None     None   NaN     NaN        None            Calçado
11            None     None   NaN     NaN      Camisa          Vestuario
12  111.111.111-11    Amara   2.0   110.0       Tênis  eletroeletrônicos
13  111.111.111-11    Amara   3.0  3000.0     Celular          celulares
14  111.111.111-11    Amara   4.0  1000.0     Celular          celulares
15  222.222.222-22    Bruno   3.0  5000.0    Notebook  Eletroeletrônicos
16  222.222.222-22    Bruno   5.0  4000.0    Notebook  Eletroeletrônicos
17  222.222.222-22    Bruno   6.0  3000.0    Notebook  Eletroeletrônicos
18  222.222.222-22    Bruno   5.0  2500.0     Celular          celulares
19  333.333.333-33    Carla  10.0    50.0      Camisa          Vestuario
20  333.333.333-33    Carla   2.0    88.0       Calça          Vestuario
21  555.555.555-55     Elis  10.0    45.0      Camisa          Vestuario
22  666.666.666-66    Fábio   8.0    78.0       Calça          Vestuario
23  666.666.666-66    Fábio   3.0   120.0       Tênis  eletroeletrônicos
24  888.888.888-88   Heitor   0.0    40.0      Camisa          Vestuario
25  999.999.999-99     Iris   0.0    87.0       Calça          Vestuario
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [30]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
 from Vendedor v
 full join VendedorProduto vp on v.cpf = vp.cpf_vendedor
 full join Produto p on vp.id_produto = p.id
 full join Categoria c on p.id_categoria = c.id
 order by v.cpf;
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

               CPF Vendedor  Qtde   Preço     Produto          Categoria
0             None     None   NaN     NaN  Smartphone          celulares
1             None     None   NaN     NaN      Camisa          Vestuario
2             None     None   NaN     NaN       Calça          Vestuario
3             None     None   NaN     NaN        None            imoveis
4             None     None   NaN     NaN        None        Informática
5             None     None   NaN     NaN        None   eletrodomesticos
6             None     None   NaN     NaN        None            cozinha
7             None     None   NaN     NaN        None              Roupa
8             None     None   NaN     NaN        None          alimentos
9             None     None   NaN     NaN        None          Telefonia
10            None     None   NaN     NaN        None            Calçado
11            None     None   NaN     NaN        None             moveis
12  111.111.111-11    Amara   3.0  3000.0     Celular          celulares
13  111.111.111-11    Amara   4.0  1000.0     Celular          celulares
14  111.111.111-11    Amara   2.0   110.0       Tênis  eletroeletrônicos
15  222.222.222-22    Bruno   5.0  2500.0     Celular          celulares
16  222.222.222-22    Bruno   3.0  5000.0    Notebook  Eletroeletrônicos
17  222.222.222-22    Bruno   5.0  4000.0    Notebook  Eletroeletrônicos
18  222.222.222-22    Bruno   6.0  3000.0    Notebook  Eletroeletrônicos
19  333.333.333-33    Carla  10.0    50.0      Camisa          Vestuario
20  333.333.333-33    Carla   2.0    88.0       Calça          Vestuario
21  555.555.555-55     Elis  10.0    45.0      Camisa          Vestuario
22  666.666.666-66    Fábio   3.0   120.0       Tênis  eletroeletrônicos
23  666.666.666-66    Fábio   8.0    78.0       Calça          Vestuario
24  777.777.777-77   Gisele   NaN     NaN        None               None
25  888.888.888-88   Heitor   0.0    40.0      Camisa          Vestuario
26  999.999.999-99     Iris   0.0    87.0       Calça          Vestuario
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

In [31]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria
 from Produto p
 cross join Categoria c
 order by p.nome, c.nome;
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

    Produto  Categoria
0     Calça  alimentos
1     Calça  alimentos
2     Calça  alimentos
3     Calça    Calçado
4     Calça    Calçado
..      ...        ...
177   Tênis      Roupa
178   Tênis  Telefonia
179   Tênis  Telefonia
180   Tênis  Vestuario
181   Tênis  Vestuario

[182 rows x 2 columns]
&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;