# Exercicios 06

In [2]:
# Importar biblioteca pyodbc:
import pyodbc

In [3]:
# Importar a biblioteca Pandas:
import pandas as pd

In [4]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database ='empresa', trusted_connection = 'yes')

In [5]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()

# Pegar uma conexão com o banco de dados:
conexao = bd.conectar ()

1) Quais vendedores possuem o nome terminado com a letra “s”? Resp.: Elis e Iris.

In [8]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = ''' SELECT * FROM Vendedor WHERE nome LIKE '%s' '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

              cpf  nome             email          telefone  \
0  555.555.555-55  Elis  elis@elis.com.br  (55) 5 5555-5555
1  999.999.999-99  Iris  iris@iris.com.br  (99) 9 9999-9999

                                endereco
0  Rua n.5, n. 5, Bairro 5, Cidade 5, MG
1  Rua n.9, n. 9, Bairro 9, Cidade 9, MG

2) Quais vendedores possuem produtos com valor entre $10 e $50 ou entre $100 e $500?
Resp.: Heitor, Elis, Carla, Ana e Fábio.

In [29]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select v.nome as Vendedor, vp.cpf_vendedor as CPFVendedor, vp.preco as Preço
 from Vendedor v, VendedorProduto vp
 where vp.cpf_vendedor = v.cpf 
 group by v.nome, vp.cpf_vendedor, vp.preco 
 having vp.preco > 10 and vp.preco <= 50 or preco > 100 and preco <= 500
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

  Vendedor     CPFVendedor  Preço
0      Ana  111.111.111-11  110.0
1    Carla  333.333.333-33   50.0
2     Elis  555.555.555-55   45.0
3    Fábio  666.666.666-66  120.0
4   Heitor  888.888.888-88   40.0

3) Se Ana vender todos os seu produtos, quanto ela receberá? Resp.: $21.220.

In [8]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select sum (quantidade * preco) as 'Total Vendas Ana'
 from VendedorProduto where cpf_vendedor='111.111.111-11'
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   Total Vendas Ana
0           21220.0

4) Se todos os vendedores venderem todos os seu produtos, qual será o total apurado nas
vendas? Resp.: $81.330

In [10]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select sum (quantidade * preco) as 'Total Vendas'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   Total Vendas
0       81330.0

5) Se todos os vendedores venderem todos os seu produtos, quem receberá o maior valor?
Resp.: Bruno, $53.000.

In [6]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select v.nome as Vendedor, sum (vp.quantidade * vp.preco) as 'Total Vendas'
 from Vendedor v, VendedorProduto vp where vp.cpf_vendedor = v.cpf
  group by v.nome, vp.cpf_vendedor
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

  Vendedor  Total Vendas
0      Ana       21220.0
1    Bruno       53000.0
2    Carla         676.0
3     Elis         450.0
4    Fábio         984.0
5   Heitor           0.0
6     Iris        5000.0

6) Se todos os vendedores venderem todos os seu produtos, qual será o valor médio das
vendas? Resp.: $11.618,57.

In [7]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select (sum (quantidade * preco)/7) as 'media_do_total_de_vendas'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   media_do_total_de_vendas
0              11618.571428

7) Se todos os vendedores venderem todos os seu produtos, quem receberá acima da
média? Resp.: Bruno ($53.000) e Ana ($21.220).

In [10]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select (sum (quantidade * preco)/7) as 'media_do_total_de_vendas'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   media_do_total_de_vendas
0              11618.571428

In [9]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select v.nome as Vendedor, sum (vp.quantidade * vp.preco) as 'Total Vendas'
 from Vendedor v, VendedorProduto vp where vp.cpf_vendedor = v.cpf
  group by v.nome, vp.cpf_vendedor
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

  Vendedor  Total Vendas
0      Ana       21220.0
1    Bruno       53000.0
2    Carla         676.0
3     Elis         450.0
4    Fábio         984.0
5   Heitor           0.0
6     Iris        5000.0