# Exercicios lista 05

In [1]:
# Importar biblioteca pyodbc:
import pyodbc

In [2]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')

In [3]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()
# Pegar uma conexão com o banco de dados:
conexao = bd.conectar ()

In [6]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    
    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        nome = input ("Informe o nome da categoria: ")
        descricao = input ("Informe a descrição da categoria: ")
        parametros = tuple ((nome, descricao))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

    def atualizar (self):
        dml = "UPDATE Categoria SET nome=(?), descricao=(?) WHERE id=(?);"
        nome = input ("Informe o novo nome da categoria:")
        descricao = input ("Informe a nova descrção da categoria:")
        id_categoria = input ("Informe o id da categoria que você deseja alterar:")
        parametros = tuple ((nome, descricao, id_categoria))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "SELECT * FROM Categoria"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

    def deletar (self):
        dml = "DELETE FROM Categoria WHERE id=(?);"
        id_categoria = input ("Informe o id da categoria que você deseja deletar:")
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, id_categoria)
            # self.conexao.commit ()
            sql = "SELECT * FROM Categoria"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [5]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = "insert into Vendedor (cpf, nome, email, telefone, endereco) values (?, ?, ?, ?, ?);"
        cpf = input ("Informe o cpf do vendedor: ")
        nome = input ("Informe o nome do vendedor: ")
        email = input ("Informe o email do vendedor: ")
        telefone = input ("Informe o telefone do vendedor: ")
        endereco = input ("Informe o endereço do vendedor: ")
        parametros = tuple ((cpf, nome, email, telefone, endereco))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Vendedor;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha
        
    def atualizar (self):
        dml = "UPDATE Vendedor SET nome=(?), email=(?), telefone=(?), endereco=(?) WHERE cpf=(?);"
        nome = input ("Informe o novo nome do vendedor:")
        email = input ("Informe o novo email do vendedor:")
        telefone = input ("Informe o novo telefone do vendedor:")
        endereco = input ("Informe o novo endereço do vendedor:")
        cpf = input ("Informe o cpf do vendedor que você deseja alterar:")
        parametros = tuple ((nome, email, telefone, endereco, cpf))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "SELECT * FROM Vendedor"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

    def deletar (self):
        dml = "DELETE FROM Vendedor WHERE cpf=(?);"
        cpf = input ("Informe o cpf do vendedor que você deseja deletar:")
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, cpf)
            # self.conexao.commit ()
            sql = "SELECT * FROM Vendedor"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [4]:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = "insert into VendedorProduto (cpf_vendedor, id_produto, quantidade, preco) values (?, ?, ?, ?);"
        cpf = input ("Informe o cpf do vendedor: ")
        id_produto = input ("Informe o id do produto: ")
        quantidade = input ("Informe a quantidade de produtos vendidos: ")
        preco = input ("Informe o preço do produto vendido: ")
        parametros = tuple ((cpf, id_produto, quantidade, preco))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from VendedorProduto;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

    def atualizar (self):
        dml = "UPDATE VendedorProduto SET cpf_vendedor=(?), id_produto=(?), quantidade=(?), preco=(?) WHERE id=(?);"
        cpf = input ("Informe o novo cpf do vendedor que efetuou a venda:")
        id_produto = input ("Informe o novo id do produto:")
        quantidade = input ("Informe a nova quantidade do produto:")
        preco = input ("Informe o novo preço do produto:")
        id_venda = input ("Informe o id da venda que você deseja alterar:")
        parametros = tuple ((cpf, id_produto, quantidade, preco, id_venda))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "SELECT * FROM VendedorProduto"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

    def deletar (self):
        dml = "DELETE FROM VendedorProduto WHERE id=(?);"
        id_venda = input ("Informe o id da venda que você deseja deletar:")
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, id_venda)
            # self.conexao.commit ()
            sql = "SELECT * FROM VendedorProduto"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [30]:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = "insert into Produto (nome, descricao, marca, id_categoria) values (?, ?, ?, ?);"
        nome = input ("Informe o nome do produto: ")
        descricao = input ("Informe a descrição do produto: ")
        marca = input ("Informe a marca do produto: ")
        id_categoria = input ("Informe o id da categoria do produto: ")
        parametros = tuple ((nome, descricao, marca, id_categoria))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Produto;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

    def atualizar (self):
        dml = "UPDATE Produto SET nome=(?), descricao=(?), marca=(?), id_categoria=(?) WHERE id=(?);"
        nome = input ("Informe o novo nome do produto:")
        descricao = input ("Informe a nova descrição do produto:")
        marca = input ("Informe a nova marca do produto:")
        id_categoria = input ("Informe a nova id da categoria do produto:")
        id_produto = input ("Informe o id do produto que você deseja alterar:")
        parametros = tuple ((nome, descricao, marca, id_categoria, id_produto))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "SELECT * FROM Produto"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

    def deletar (self):
        dml = "DELETE FROM Produto WHERE id=(?);"
        id_produto = input ("Informe o id do produto que você deseja deletar:")
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, id_produto)
            # self.conexao.commit ()
            sql = "SELECT * FROM Produto"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [7]:
categoria = Categoria (conexao)

# categoria.atualizar ()
categoria.deletar ()

[(1, &#39;celulares&#39;, &#39;telefones celulares&#39;),
 (2, &#39;Eletroeletrônicos&#39;, &#39;dispositivos eletroeletrônicos&#39;),
 (3, &#39;Vestuario&#39;, &#39;Roupas e acessórios de vestimenta.&#39;),
 (4, &#39;eletroeletrônicos&#39;, &#39;dispositivos eletroeletrônicos&#39;),
 (5, &#39;alimentos&#39;, &#39;alimentos não perecíveis&#39;),
 (7, &#39;eletrodomesticos&#39;, &#39;produtos eletrodomesticos&#39;),
 (8, &#39;moveis&#39;, &#39;moveis para casa&#39;),
 (9, &#39;imoveis&#39;, &#39;casas, apartamentos e predios&#39;),
 (10, &#39;cozinha&#39;, &#39;utensílios de cozinha&#39;),
 (11, &#39;Telefonia&#39;, &#39;Aparelho telefônico&#39;),
 (12, &#39;Informática&#39;, &#39;Computador portátil&#39;),
 (13, &#39;Roupa&#39;, &#39;Vestuário&#39;),
 (14, &#39;Calçado&#39;, &#39;Vestuário&#39;)]

In [6]:
vendedor = Vendedor (conexao)

vendedor.atualizar()
# vendedor.deletar ()

[('111.111.111-11', 'Ana', 'ana@ana.com', '31999888555', 'Rua blomelia nº 55 Bairro da industrias'),
 ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'),
 ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'),
 ('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'),
 ('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'),
 ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'),
 ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'),
 ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG')]

In [37]:
produto = Produto (conexao)

# produto.atualizar ()
produto.deletar ()

[(1, &#39;Smartphone&#39;, &#39;Smartphone 1&#39;, &#39;Motorola&#39;, 1),
 (2, &#39;Celular&#39;, &#39;Celular 2&#39;, &#39;Samsung&#39;, 1),
 (3, &#39;Celular&#39;, &#39;Celular 3&#39;, &#39;Xiaomi&#39;, 1),
 (4, &#39;Notebook&#39;, &#39;Notebook 1&#39;, &#39;Apple&#39;, 2),
 (5, &#39;Notebook&#39;, &#39;Notebook 2&#39;, &#39;Samsung&#39;, 2),
 (6, &#39;Notebook&#39;, &#39;Notebook 3&#39;, &#39;Xiaomi&#39;, 2),
 (7, &#39;Camisa&#39;, &#39;Camisa 1&#39;, &#39;Nike&#39;, 3),
 (8, &#39;Calça&#39;, &#39;Calça 1&#39;, &#39;Nike&#39;, 3),
 (9, &#39;Tênis&#39;, &#39;Tênis 1&#39;, &#39;Nike&#39;, 4),
 (10, &#39;Camisa&#39;, &#39;Camisa 2&#39;, &#39;Adidas&#39;, 3),
 (11, &#39;Calça&#39;, &#39;Calça 2&#39;, &#39;Adidas&#39;, 3),
 (12, &#39;Tênis&#39;, &#39;Tênis 2&#39;, &#39;Adidas&#39;, 4),
 (13, &#39;Camisa&#39;, &#39;Camisa 3&#39;, &#39;Zara&#39;, 3),
 (14, &#39;Calça&#39;, &#39;Calça 3&#39;, &#39;Zara&#39;, 3)]

In [5]:
vendedorProduto = VendedorProduto (conexao)

# vendedorProduto.atualizar ()
# vendedorProduto.deletar ()
vendedorProduto.inserir()

[(1, '111.111.111-11', 1, 2, Decimal('4000')),
 (2, '111.111.111-11', 2, 3, Decimal('3000')),
 (3, '111.111.111-11', 3, 4, Decimal('1000')),
 (4, '111.111.111-11', 12, 2, Decimal('110')),
 (5, '222.222.222-22', 4, 3, Decimal('5000')),
 (6, '222.222.222-22', 5, 5, Decimal('4000')),
 (7, '222.222.222-22', 6, 6, Decimal('3000')),
 (8, '333.333.333-33', 7, 10, Decimal('50')),
 (9, '333.333.333-33', 14, 2, Decimal('88')),
 (10, '555.555.555-55', 7, 10, Decimal('45')),
 (11, '666.666.666-66', 9, 3, Decimal('120')),
 (12, '666.666.666-66', 14, 8, Decimal('78')),
 (13, '888.888.888-88', 10, 0, Decimal('40')),
 (14, '999.999.999-99', 11, 0, Decimal('87')),
 (17, '999.999.999-99', 1, 1, Decimal('5000'))]